<appSettings>
    <add key="inspired:DataServicesAPIKey" value="3847901f-2961-49c9-aff2-bc2279310965" />
    <add key="AzureRuntime" value="false" />
    <add key="ClientID" value="933960c7-1cfe-41b2-b62f-a1cd2ec7707b" />
    <add key="ClientSecret" value="PZsS1WxSlMOwg+1HHz1iWE5i/RfH0bFodcgtPFzN11w=" />
    <add key="SF_SecurityToken" value="oIqp4VYIDGgC1RbrVizsx9cn"/>
    <add key="SF_ConsumerKey" value="3MVG9AJuBE3rTYDgjVgTfUitelUN3MLORTz6azdHYmJsvs0K02QglzBm1zzKwK2LcrcbaBs5KL73h3VVTcyqj"/>
    <add key="SF_ConsumerSecret" value="2141776852231166051"/>
    <add key="SF_Username" value="analyzer@chooseinspired.com.vnext"/>
    <add key="SF_Password" value="An@lyz3r2SF"/>
    <add key="SF_TokenRequestEndpointUrl" value="https://test.salesforce.com/services/oauth2/token"/>
    <add key="DocumentDB_Endpoint" value="https://localhost:8081/" />
    <add key="DocumentDB_AuthKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="DocumentDB_Database" value="Enrollment" />
    <add key="DocumentDB_Collection" value="Responses" />
</appSettings>